<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="cat.pirata.activities"
	android:installLocation="auto"
	android:versionCode="6"
	android:versionName="2.3">
	<uses-sdk android:minSdkVersion="1"/>
	<uses-permission android:name = "android.permission.INTERNET" />
	
	<application
		android:icon="@drawable/icon48"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar"
		android:allowBackup="false" >
		
		<activity android:name=".PartitPirata" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Participacio" />
		<activity android:name=".Informacio" />
		<activity android:name=".Calendari" />
		
		<activity android:name="cat.pirata.ideatorrent.IdeaWaiting" />
		<activity android:name="cat.pirata.ideatorrent.IdeaVoting" />
		<activity android:name="cat.pirata.ideatorrent.IdeaDeveloping" />
		<activity android:name="cat.pirata.ideatorrent.IdeaDone" />
	</application>
	
</manifest>
